{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron jumbotron-fluid">
                <h1>Foire aux questions</h1>

                <p>
                    Vous retrouverez ici une série de réponses à des questions que vous vous posez certainement
                </p>

            </div>
        </div>
    </div>


{% endblock %}