{% extends 'base.html.twig' %}

{% block title %}Doctorbike{% endblock %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron-fluid">
                        <h1>Bienvenue sur Doctorbike</h1>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid" style="background: transparent; border: none">
                    <p style="color: white; font-size: 20px">
                        Doctorbike est une plateforme permettant de trouver (dans la mesure du possible) l'origine d'une panne pouvant survenir sur votre moto. <br>

                        Ce diagnostic se présente sous forme d'un questionnaire questions/réponses auquel il vous faudra répondre par Oui ou par Non. Les différents scénarios existants sont disponibles <a href="{{ path('scenario_list') }}" style="text-underline-mode: none">ici</a>.<br>
                    </p>
                    <p>
                        <span style="font-weight: bold; color: red; font-size: 20px">Vous devez posséder un <a href="{{ path('inscription') }}" style="text-underline-mode: none">compte</a> pour pouvoir accéder au diagnostic ! </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
