{% extends 'base.html.twig' %}

{% block title %}Edit Cylindree{% endblock %}

{% block body %}

    <h1>Edit Cylindree</h1>

    {{ include('cylindree/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cylindree_list') }}">back to list</a>

    {{ include('cylindree/_delete_form.html.twig') }}

{% endblock %}