<h1>Bonjour {{ user.username }}</h1>

<h1>Pour réinitialiser votre mot de passe, rendez vous sur ce lien : http://127.0.0.1:8000/security/resetPassword/{{ user.id }}/{{ user.resetToken }}</h1>

<p>Attention ! Si vous avez ouvert ce mail avec NotePad++ il se peut qu'un caractères '=' se soit inséré dans l'url</p>

Merci