<h1>Bienvenue {{ user.username }} sur Doctorbike</h1>

<h1>Pour activer votre compte, rendez vous sur ce lien : http://127.0.0.1:8000/security/confirmEmail/{{ user.id }}/{{ user.confirmationToken }}</h1>

Merci