{% extends 'base.html.twig' %}

{% block title %}Doctorbike{% endblock %}

{% block body %}

    <div class="block push text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h1 style="color: #880000">Vous n'avez pas accès à ce contenu !</h1>
                        <p>Il semblerait que vous ne disposiez pas des droits nécessaires pour atteindre cette page</p><br>
                        <a href="{{ path('home') }}"><button class="btn btn-success btn-pill">Revenir à l'acceuil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}