{% extends 'base.html.twig' %}

{% block title %}Doctorbike{% endblock %}

{% block body %}

    <div class="block push text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron jumbotron-fluid">
                        <h3 style="color: #880000">Une erreur est survenue</h3>
                        <p>Une erreur interne est survenue...</p><br>
                        <a href="{{ path('home') }}" class="btn btn-success btn-pill">Revenir à l'acceuil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}